.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: darkblue;
    color: whitesmoke;
    padding: 36px 24px;
    
}

ul {
    list-style-type: none;
}

.input {
    background-color: white
}

.submitted{
    background-color: white;
}

#header-name{
    display: none
}

header > h1 {
    display: none;
}

.name{
    font-size: 3rem;

}

.email-phone{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 18px;

}

.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.degree{
    font-weight: 700;
}

.title {
    font-weight: 700;
}

.school {
    font-weight: 400;
}

.dates-attended{
    display: flex;
    gap: 5px;
    font-weight: 300;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.responsibilities {
     text-align: left;
    
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}


form input[type=submit]{
    background-color: darkblue;
    color: white; 
    float: left;
    margin-left: 22px; 
    margin-top: 22px; 
    
}



textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}


#name {
  font-size: 2rem;
  font-weight: 600;
}

.content{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
  width: 90vw

}